<div class="navBar">
    <div class="LogoContainer">LOGO</div>
    <div class="navItems">
        <a routerLink="/first-component" routerLinkActive="active">First Component</a>
        <a routerLink="/second-component" routerLinkActive="active">Second Component</a>
        <a routerLink="/lifeCycleHooks" routerLinkActive="active">lifeCycleHooks</a>
        <a routerLink="/appdirectiveExamples" routerLinkActive="active">DirectiveExamples</a>
        <a routerLink="/AppformExamples" routerLinkActive="active">Forms</a>
        <a routerLink="/parentChildComunnication" routerLinkActive="active">parentChildComunnication</a>

    </div>
</div>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>