.navBar {
  background: #000;
  color: #fff;
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}
.LogoContainer{

}
.navItems {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
}

.navBar a {
  color: #fff;
  text-decoration: none;
  padding: 0px 5px;
}
.navBar a.active {
  color: red;
}