<p>myFirstComponent works !</p>
<!-- Interpolation -->
<!-- one Way Binding -->
<p>My name is : {{userName | uppercase}}</p>
<p *ngIf="isStatusValid2">My Wealth is : {{ myWealth | currency }}</p>
<p *ngIf="!isStatusValid1">Super power boost: {{baseNumber | exponentialPower: 3}}</p>



<input type="text"
    (keyup)="keyUp($event)" 
    (focus)="myFocusMethod()" 
    (blur)="myBlurMethod()"
    (change)="myOnChangeMethod($event)"
>
<span>{{eventData}}</span>







<!-- <button (click)="testClick($event)">Click Me to trigger event</button> -->
<form [formGroup]="studentRegistrationForm">
    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" formControlName="firstName">
    <br />
    <label for="last-name">Last Name: </label>
    <input id="last-name" type="text" formControlName="lastName">
    <br />
    <button (click)="onSubmit()">Submit</button>


</form>

<div class="userInfo">
    <ul>
        <li *ngFor="let user of responsefromServer">
            <span>{{user.userId}}</span><br>
            <span>{{user.title}}</span><br>

        </li>
    </ul>
</div>


<!-- (focus)="myMethod()"
(blur)="myMethod()" 
(submit)="myMethod()"  
(scroll)="myMethod()"

(cut)="myMethod()"
(copy)="myMethod()"
(paste)="myMethod()"

(keydown)="myMethod()"
(keypress)="myMethod()"
(keyup)="myMethod()"

(mouseenter)="myMethod()"
(mousedown)="myMethod()"
(mouseup)="myMethod()"

(click)="myMethod()"
(dblclick)="myMethod()"

(drag)="myMethod()"
(dragover)="myMethod()"
(drop)="myMethod()" -->