ul {
    display: flex;
    justify-content: space-around;
}
li {
    list-style: none;
    background: #eee;
    padding: 20px;
}
.workingItem {
    background: red;
}
.special {
    background: green;
}
.notSpecial {
    background: yellow;

}