<p>Attribute Directive Exaples===></p>
<button (click)="toggleValue()">Click me to toggle Directive Value</button>


<div class="workingItem">
    <p>ngModel Exapmle</p>
    <span>My name is: {{userName}}</span><br>

    <!-- <input [(ngModel)]="currentItem" (ngModelChange)="setUppercaseName($event)" #ctrl="ngModel" required> -->

    <input [(ngModel)]="userName" (ngModelChange)="setUppercaseName($event)" #ctrl="ngModel" required>
</div>

<!-- var temp = this.isUserLoggedIn ? "User is logged In" : "try log in" -->



<p>----------------</p>

<p>ngStyle Exapmle</p>
<div [style]="{'font-size':isShow === true ? '10px' : '20px' }">isShow value is {{isShow}}</div>
<p>----------------</p>
<p>NgClass Examples</p>
<div [ngClass] = "isShow ? 'special' : 'notSpecial'">
    This div is {{isShow}}
</div>

<p>NgClass Examples</p>
<div [class]="isShow ? 'special' : 'notSpecial'">
    This div is special
</div>

<p>Structural Directive Exaples===></p>

<p>*ngIf examples---></p>

<ng-template [ngIf]="isShow" [ngIfElse]="loggedOut">
    <div>
        Welcome back, friend.
    </div>
</ng-template>

<ng-template #loggedOut>
    <div>
        Hi friend, login.
    </div>
</ng-template>


<p>--------</p>
<div *ngIf="isShow; else elseBlockShow">
    Text to show for If
</div>
<ng-template #elseBlockShow>Text to show for else block</ng-template>
<br>
<p>--------</p>
<div *ngIf="isUserLoggedin">
    <p>Hi User, You have looged in </p>
</div>

<p>ngFor examples---></p>
<div class="userInfo">
    <ul>
        <li *ngFor="let user of responsefromServer">
            <span>{{user.userId}}</span><br>
            <span>{{user.title}}</span><br>

        </li>
    </ul>
</div>


<h1>ngSwitch Exaple</h1>

<h3>First case: when some value matches</h3>

<div [ngSwitch]="positions.length">
  <p *ngSwitchCase="1">One</p>
  <p *ngSwitchCase="2">two</p>
  <p *ngSwitchCase="3">three</p>
  <p *ngSwitchCase="4">four</p>
  <p *ngSwitchDefault>Default</p>
</div>

<div [ngSwitch]="positions.length + 1">
    <p *ngSwitchCase="1">One</p>
    <p *ngSwitchCase="2">two</p>
    <p *ngSwitchCase="3">three</p>
    <p *ngSwitchCase="4">four</p>
    <p *ngSwitchDefault>Default</p>
  </div>